
.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.responstable th:first-child {
    display: table-cell;
    text-align: center;
}

.responstable th:nth-child(2) {
    display: table-cell;
}

.responstable th:nth-child(2) span {
    display: none;
}

.responstable th:nth-child(2):after {
    content: attr(data-th);
}

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }

    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}

h1 span {
    color: #167F92;
}

body {
    background: #e9e9e9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 3px;
    border-top: 2px solid #ffce54;
    height: 60px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    position: relative;
    display: inline-block;
    height: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    float: left;
}
.nav ul li:first-child,
.nav ul li:nth-child(2),
.nav ul li:last-child {
    border-left: 0;
}
.nav ul li:nth-child(2) a:before,
.nav ul li:nth-last-child(2) a:before,
.nav ul li:nth-child(2) a:after,
.nav ul li:nth-last-child(2) a:after {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.nav ul li:nth-child(2) > a:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-right: 15px solid #FFFFFF;
    border-top: 60px solid transparent;
}
.nav ul li:nth-last-child(2) a:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid #FFFFFF;
    border-bottom: 60px solid transparent;
}
.nav ul li:last-child a {
    background: #ffce54;
    padding: 0 25px 0 30px;
    color: #FFFFFF;
}
.nav ul li:last-child a:hover {
    background: #ffce54;
}
.nav ul li a {
    position: relative;
    display: block;
    padding: 0 25px;
    color: #666666;
    font-size: 14px;
    line-height: 60px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.nav ul li a:hover {
    background: #f2f2f2;
}
.nav ul li a:hover:before {
    border-right: 15px solid #f2f2f2;
}
.nav ul li a:hover:after {
    border-left: 15px solid #f2f2f2;
}
.nav ul li a.logo {
    background: #ffce54;
    width: 30px;
    height: 30px;
    padding: 15px 30px 15px 15px;
    line-height: 1;
    vertical-align: middle;
}
.nav ul li a.logo:hover {
    background: #ffce54;
}
.nav ul li a.logo img {
    width: 100%;
}
.nav ul li a i {
    margin: 0 0 0 6px;
}
.nav ul li .menu {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 100%;
    width: 180px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #ffce54;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}
.nav ul li .menu li {
    display: block;
    width: 100%;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.nav ul li .menu li:nth-child(2),
.nav ul li .menu li:nth-last-child(2) {
    height: 45px;
}
.nav ul li .menu li:nth-child(2) a:before,
.nav ul li .menu li:nth-last-child(2) a:before,
.nav ul li .menu li:nth-child(2) a:after,
.nav ul li .menu li:nth-last-child(2) a:after {
    content: '';
    display: none;
}
.nav ul li .menu li a {
    background: #FFFFFF;
    padding: 0 15px 0 30px;
    color: #666666;
    line-height: 45px;
    text-align: left;
}
.nav ul li .menu li a:hover {
    background: #f2f2f2;
}
.info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.info h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}
.info span {
    color: #666666;
    font-size: 12px;
}
.info span a {
    color: #000000;
    text-decoration: none;
}
.info span .fa {
    color: #ffce54;
}
.info span .spoilers {
    color: #999999;
    margin-top: 5px;
    font-size: 10px;
}




